* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.prezzo {
    border: 2px solid black;
    text-align: center;
    padding: 20px 10px;
    background-color: lightgray;
    width: 50%;
}